* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

body {
  background-color: #2a2a2b;
}

.navbar {
  background-color: #070707;
  height: 90px;
  color: white;
  display: grid;
  justify-items: center;
  align-items: center;
  padding: 10px 30px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  width: 100%;
  /* background-color: yellow; */
}

.nav-left img {
  height: 60px;
}

.nav-center {
  font-size: 40px;
}

.nav-right button {
  background-color: #222223;
  border: 3px solid white;
  color: white;
  padding: 10px;
  font-size: 15px;
  border-radius: 5px;
}

.nav-right div {
  display: flex;
  /* border: 1px solid white; */
  margin-left: 10px;
  font-size: 18px;
  /* background-color: yellow; */
}

.userInfo {
  background-color: #252424;
  color: white;
  width: max-content;
  padding: 20px 10px;
  position: fixed;
  top: 90px;
  right: 0;
}

.info {
  color: white;
  background-color: #070707;
  border-radius: 10px;
  width: max-content;
  padding: 20px 10px;
}

.foot {
  background-color: #222223;
  color: aliceblue;
  font-size: larger;
 height :300px;
display: flex;
justify-content:space-around;
padding: 2pc;
}
hr{
  color :whitesmoke;
  height: 1px;
  background: #747474;
}
#cr{
  font-family:'Times New Roman', Times, serif;
  font-size: larger;
  display: flex;
align-items:end;

}
#social{
  display: flex;
  
}
#social a{
  font-size: 30px;
  padding: 5px;
}
a{
  color: azure;
  font-family:sans-serif;
  font-size: small; 
  text-decoration: none;
  
}
a:hover{
  color: rgb(0, 123, 255);
}
ul li{
  padding: 5px;
  list-style: none;
 
}
h3{
  padding: 5px;
  font-family:sans-serif;
}